
body{
    background: url(imgs/back\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;

}
#menu{
    position: fixed;
    background-color: #ff00c8;
    width: 20%;
    height: 102.5%;
    margin-left: -2%;
    margin-top: -1.5%;
    overflow: hidden;
    overflow-y: scroll;
    opacity: 0.45;   
    
}


.titles{
  border-color: transparent;
  background-color: #017afe;
  color: white;
  width: 88%;
  height: 8%;

  margin-left: 10%;
  margin-bottom: 2%;
  opacity: 4;
  border-radius: 5px;
	
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.titles:hover{
  background-color: #ff00c8;
  color: black;
}

#title-1{
  margin-top:7%;
  
}

#template{
  position: fixed;
  
  margin-left: 35%;
  margin-top: 5%;
  background-color: #dd00ad;
  width: 50%;
  height: 70%;
  border-radius: 1.5%;
  
  overflow: hidden;
  overflow-y: scroll;
  opacity: 0.9;   
  


  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
}
#template::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #dd00ad
 
}

#template::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
  
}

#template::-webkit-scrollbar-thumb
{
	background-color: #2a0042;
	border: 1px solid #555555;
}


#menu::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #dd00ad
 
}

#menu::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
  
}

#menu::-webkit-scrollbar-thumb
{
	background-color: #2a0042;
	border: 1px solid #555555;
}



#txt{
  margin-left: 8%;
  font-size: 120%;
  color: rgb(0, 0, 0);
}
